<div class="headerNav jumbotron pb-3 pt-3">
  <nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/HighestRatedMovies" routerLinkActive="active">Highest Rated</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/UpcomingMovies" routerLinkActive="active">Upcoming</a>
      </li>
    </ul>
  </nav>
  <span class='h2'>
    <img class="rounded movie_img m-3" src="/assets/Image/movie_black2.jpg" width="50" height="50" alt="SuperFlotBillede"/>
    Angular Moviefinder
  </span>
</div>





<router-outlet></router-outlet>

