
body {
    background-color: #272B30;
    color: #ffffffc9; 
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .movie-card-container{
    margin-top: 20px;
}

.tvshow-card-container{
    margin-top: 20px;
}

.custom-height-adjustment .mdc-dialog__container {
  height: auto;
}